	.head-icon{
		height: 35px;
		width: 1160px;
		margin: 25px auto;
		.build-home{
			width: 35px;
			height: 35px;		
			background: url($settings-copy) 100% 100% no-repeat;
			background-size: auto;
			float: left;	


			p{
				color: $color_434343;
				font-family: $font-stack-Ubuntu;
				font-size: 30px;
				font-weight: 500;
				line-height: 20px;
				padding-left: 50px;
				width: 171px;
			}
			span{
					width: 156px;
					height: 8px;
					opacity: 0.65;
					color: $color_333;
					font-family: $font-stack-Ubuntu;
					font-size: 12px;
					font-weight: 300;
					line-height: 20px;
					text-transform: uppercase;
					letter-spacing: 3px;			
			}
		}
		
	
		.menu-sprites{
			float:right;
			position: relative;
			overflow: hidden;

			li{
				float: left;
				list-style: none;
				margin-right: 10px;
			}

			a{
				display: block;
				height: 15px;
				width: 18px;
				background: url($sprites) 0 0 no-repeat;
			}
			.facebook{
				background-position:  4px 0;
			}
			.twitter{
				background-position: -15px 0;
			}
			.skype{
				background-position: -34px 0;
			}
			.rss{
				background-position: -51px 0;
			}
			.linkedin{
				background-position: -69px 0;
			}		
			.facebook:hover{
				background-position:  4px -17px;
			}
			.twitter:hover{
				background-position:  -15px -17px;
			}
			.skype:hover{
				background-position:  -34px -17px;
			}
			.rss:hover{
				background-position:  -51px -17px;
			}
			.linkedin:hover{
				background-position:  -69px -17px;
			}		
		}
	}

	/*MENU*/
	.menu-head{
		background-color: $color_2a2d32;
		height: 56px;
		width: 1160px;
		margin: 0 auto;

		ul{

			display: block;
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				float: left;		
				width: 10%;
				height: 56px;
				text-align: center;
				border-left: 1px solid black;
				
			}
			 a {
				display: block;
		    	color: $color_white;
		    	line-height: 56px;
		    	text-decoration: none; 
		    	font-family: $font-stack-Ubuntu;
				font-size: 14px;   	
			}
			li:first-child:hover{
				background: $color_258bed;
			}
			li a:hover{
				color: $color_dcc950;
			}				
		}
		
    form {
      display: inline-block;
      float: right;
      position: relative;
      width: 241px;
      height: 55px;

      p {
        display: inline-block;
        width: 241px;
        height: 55px;
        font-weight: 400;
        line-height: 55px;

        input {
          width: 241px;
          height: 40px;
          margin-top: 7px;
          margin-right: 7px;
          float: right;
          background-color: rgba(255, 255, 255, 0.05);
          border: 1px solid #181a1d;
          z-index: 10;          
    	  padding-left: 20px;
          &:focus {
            color: #fff;
          }
          color: #626466;
        }

        img {
          position: absolute;
          top: 14px;
          right: 10px;
          z-index: 5;
        }
      }
    }
		
	}

	.news{
		ul{
			padding: 0;
			margin: 0;
			display: block;
			text-align: center;
			height: 400px;		
			list-style: none;
		}

			ul:before {
				content:''; 
				height: 100%;
				display: inline-block; 
			}

			li{
				display: inline-block;
				width: 350px;
				text-align: left;
				img{
					margin-left: 125px;
				}

				p{
					
					width: 237px;
					height: 53px;
					color: $color_8a8a8a;
					font-family: $font-stack-Arial;
					font-size: 13px;
					font-weight: 400;
					line-height: 20px;
					text-align: left;
					margin-left: 125px;

				}

				 
				a{ 
    				text-decoration: none;    			
    			}

    			.newsTitle{
    				width: 237px;
					height: 19px;
					color: $color_2a2b2e;
					font-family: $font-stack-Ubuntu;
					font-size: 20px;
					font-weight: 500;
					line-height: 20px;
					display: block;	
					margin-left: 125px;
					margin-top: 15px;
					margin-bottom: 20px;				
				}
				.readMore{
					display: block;
					width: 285px;
					height: 11px;
					color: $color_2a2b2e;
					font-family: $font-stack-Ubuntu;
					font-size: 13px;
					font-weight: 500;
					line-height: 20px;
					margin-left: 125px;
					margin-top: 20px;
					
					

					span{
						color: $color_248cec;
					}
				}
				.readMore:hover{
					color: $color_248cec;
					span{
						color: $color_2a2b2e;
					}
				}
			}

			ul:before, li {
				vertical-align: middle; 
			}
			li:nth-child(1){
				background-image: url($img_01);
				background-repeat: no-repeat;
				background-position: 0px 0px;

			}
			li:nth-child(2){
				background-image: url($img_02);
				background-repeat: no-repeat;
			}
			li:nth-child(3){
				background-image: url($img_03);
				background-repeat: no-repeat;
			}
		
	}