// fonts
$font-stack-Ubuntu: Ubuntu, sans-serif;
$font-stack-Arial: Arial, sans-serif;
// images
$settings-copy: "../../img/settings-copy.png";
$sprites: "../../img/sprites.png";
$search: "../../img/search.png";
$Jan-copy: "../../img/Jan-copy.png";
$Jan: "../../img/Jan.png";
$img_01: "../../img/01.png";
$img_02: "../../img/02.png";
$img_03: "../../img/03.png";
$our_services: "../../img/our_services.png";


// colors
$color_434343: #434343;
$color_333: #333333;
$color_2a2d32: #2a2d32;
$color_258bed: #258bed;
$color_626466: #626466;
$color_35383c: #35383c;
$color_8a8a8a: #8a8a8a;
$color_white: white;
$color_0187f4: #0187f4;
$color_f7f7f7: #f7f7f7;
$color_f4b60d: #f4b60d;
$color_2a2b2e: #2a2b2e;
$color_248cec: #248cec;
$color_dcc950: #dcc950;
$color_56595d: #56595d;
$color_6e6f72: #6e6f72;
$color_35383c: #35383c;
$color_6f7073: #6f7073;